<div class="ui raised segment">
  <h2 class="ui header">
    <div class="inline-image-container">
      <img class="inline-image" src="assets/images/worthit-32x32.png">
      Trade-Off Assessment Tool
      <img class="inline-image" src="assets/images/worthit-32x32.png">
    </div>
  </h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form" [class.error]="!myForm.valid && myForm.touched">
    <div *ngIf="areFormControlsValid()" class="ui message">
      {{ calculateQuantity() }}
    </div>
    <div *ngIf="!areFormControlsValid()" class="ui message">
      Waiting for your input, below...
    </div>

    <h4>Step 1 - Fill in your Golden Standard (reference) Info</h4>
    <div class="field">
      <label for="referenceNameInput">Golden Essential Name</label><br>
      <input type="text" id="referenceNameInput" placeholder="e.g., Weekly Groceries" formControlName="referenceName">
    </div>

    <div class="field">
      <label for="referenceValueInput">Golden Essential Cost ($)</label><br>
      <input type="number" id="referenceValueInput" placeholder="e.g., $200" formControlName="referenceValue">
    </div>

    <h4>Step 2 - Fill in the New Item Info that you are about to buy</h4>
    <div class="field">
      <label for="newItemNameInput">New Item Name</label><br>
      <input type="text" id="newItemNameInput" placeholder="" formControlName="newItemName">
    </div>

    <div class="field">
      <label for="newItemValueInput">New Item Cost ($)</label><br>
      <input type="number" id="newItemValueInput" placeholder="" formControlName="newItemValue">
    </div>

    <br>
    <button (click)="resetForm()"
            class="ui button button-reset"
            title="Reset the form">
      <i class="fas fa-sync"></i>
    </button>
  </form>

</div>
